*.pyc
test/
src/.depend_cpp
submodules/*/bin
lib/
limits/
scripts_development/
WSMaker/
figures/
.wscode*
notes/
tmp/
obj/
*.d
*.pcm
backup/
.DS_Store
workspaceCombiner/cfg/rescale/
diagnostics/
dev/
scans/
setup_local.sh
results/
*.so
external/
condor/*cc
condor/log/*
notebooks/
output/
